nav
    .nav-container
        a(href="#header")
            img.logo(src="/images/Logo_AJ.png", alt="Logo Audrey", width="50", height="50")

        if !minimalNavbar
            ul
                li: a(href="#header") Accueil
                li: a(href="#services") Services
                li: a(href="#experiences") Expériences
                li: a(href="#projets") Projets
                li: a(href="#contact") Contact