doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title Audrey JULIEN
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" href="/images/Logo_AJ.png" type="image/png")

body
    include partials/navbar

    block content