extends ../layout

block content
    .project-page
        h1 Foreigngineer
        p ForeignGineer est un jeu vidéo éducatif d’exploration, imaginé pour sensibiliser les joueurs aux enjeux écologiques tout en leur offrant une expérience immersive et ludique.

        p Le joueur incarne un ingénieur venu d’ailleurs, chargé de redécouvrir et restaurer un monde dégradé par l’activité humaine. À travers l'exploration, la collecte d’objets et la compréhension des systèmes écologiques, il progresse dans un univers poétique où chaque action a un impact.

        p Ce projet a été réalisé en équipe dans le cadre du projet tutoré de deuxième année en BUT Informatique. Nous avons travaillé en étroite collaboration pour concevoir l’univers du jeu, répartir les responsabilités techniques et créatives, et assurer une cohérence globale.

        p Le jeu a été développé avec Unity et C#, avec l’aide de Trello pour le suivi des tâches et GitHub pour la gestion collaborative du code. Une attention particulière a été portée à la narration, à la mécanique d’exploration et à l’aspect pédagogique.

        p Pour ma part, j’ai principalement contribué à la création de l’interface utilisateur et à la modélisation 3D, tout en participant à la conception du gameplay et à l’équilibrage de l’expérience. J’ai également travaillé sur la clarté visuelle du menu, qui est fait pour pouvoir être lu avec facilité même pour les personnes avec un trouble dis.
        
        a(href="/") ← Retour à l’accueil