extends ../layout

block content
    .project-page
        h1 Runathon
        p Runathon est un outil de gestion de projet collaboratif, inspiré de Jira, pensé pour la clarté, la simplicité d’utilisation et l’efficacité.

        p Il permet aux équipes de planifier, suivre et organiser leurs tâches à travers une interface moderne. Grâce à une visualisation claire des workflows et des fonctionnalités intuitives, les utilisateurs peuvent facilement gérer le déroulement de leur projet, quelles que soient sa taille ou sa complexité.

        p Ce projet a été réalisé en équipe dans le cadre d’un travail encadré à l’IUT. Nous avons collaboré à distance et en présentiel, en nous répartissant les responsabilités techniques et de conception, tout en maintenant une communication régulière via Github et Discord.

        p Le site a été développé avec HTML, CSS, php et sql pour le back-end. Nous avons également utilisé GitHub pour la gestion de version et Canvas pour les maquettes UI/UX.

        p J’ai principalement travaillé sur la conception et le développement de l’interface utilisateur : création des pages, choix des couleurs et structure visuelle des composants. Mon objectif était d’assurer une expérience fluide, lisible et agréable pour les utilisateurs finaux.
        
        a(href="/") ← Retour à l’accueil